.Projects {
    text-align: center;
    position: 12-ms-page;
    margin-left: 109px;
    margin-top: -25px;
  }

.projects-table {
  background-color: #111 !important;
  position: relative;
  background: black;
  color: white;
  width: 100%;

}
.search-input {
  margin-left: 5px;
  text-align: left;
  width: 90%
}

body {
    font-family: "Lato", sans-serif;
}

