.Projects {
    text-align: center;
    position: 12-ms-page;
    margin-left: 109px;
    margin-top: -25px;
  }

.projects-table {
  background-color: #111 !important;
  position: relative;
  background: black;
  color: rgb(79, 77, 82);
  width: 100%;
}
  
body {
    font-family: "Lato", sans-serif;
}

